# SPDX-FileCopyrightText: 2024 - 2025 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---

- name: Ensure Syncthing paths exist
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    mode: "0750"
    owner: "{{ syncthing_uid }}"
    group: "{{ syncthing_gid }}"
  with_items:
    - path: "{{ syncthing_base_path }}"
      when: true
    - path: "{{ syncthing_config_path }}"
      when: true
    - path: "{{ syncthing_data_path }}"
      when: true
    - path: "{{ syncthing_tmp_path }}"
      when: "{{ not syncthing_container_tmpfs_tmp_enabled }}"
  when: item.when | bool

- name: Ensure Syncthing tmp path removed if tmp-on-tmpfs enabled
  when: syncthing_container_tmpfs_tmp_enabled | bool
  ansible.builtin.file:
    path: "{{ syncthing_tmp_path }}"
    state: absent

- name: Run if HTTP Basic authentication is enabled
  when: syncthing_basicauth_enabled | bool
  block:
    - name: Ensure local temporary HTTP Basic authentication file does not exist to start with
      ansible.builtin.file:
        path: "{{ syncthing_basicauth_file_tmp }}"
        state: absent
      become: false
      delegate_to: 127.0.0.1

    - name: Convert Syncthing credentials to htpasswd entries
      ansible.builtin.include_tasks: "{{ role_path }}/tasks/includes/convert_credentials_to_htpasswd.yml"
      with_items: "{{ syncthing_basicauth_credentials | unique }}"
      loop_control:
        loop_var: credential_entry

- name: Ensure Syncthing support files installed
  ansible.builtin.template:
    src: "{{ role_path }}/templates/{{ item }}.j2"
    dest: "{{ syncthing_base_path }}/{{ item }}"
    mode: "0640"
    owner: "{{ syncthing_uid }}"
    group: "{{ syncthing_gid }}"
  with_items:
    - env
    - labels

- name: Run if self-building of Syncthing container image is not enabled
  when: "not syncthing_container_image_self_build | bool"
  block:
    - name: Ensure Syncthing container image is pulled via community.docker.docker_image
      when: devture_systemd_docker_base_container_image_pull_method == 'ansible-module'
      community.docker.docker_image:
        name: "{{ syncthing_container_image }}"
        source: "{{ 'pull' if ansible_version.major > 2 or ansible_version.minor > 7 else omit }}"
        force_source: "{{ syncthing_container_image_force_pull if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else syncthing_container_image_force_pull }}"
      register: result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: result is not failed

    - name: Ensure Syncthing container image is pulled via ansible.builtin.command
      when: devture_systemd_docker_base_container_image_pull_method == 'command'
      ansible.builtin.command:
        cmd: "{{ devture_systemd_docker_base_host_command_docker }} pull {{ syncthing_container_image }}"
      register: result
      retries: "{{ devture_playbook_help_container_retries_count }}"
      delay: "{{ devture_playbook_help_container_retries_delay }}"
      until: result is not failed
      changed_when: "'Downloaded newer image' in result.stdout"

- name: Run if self-building of Syncthing container image is enabled
  when: "syncthing_container_image_self_build | bool"
  block:
    - name: Ensure Syncthing repository is present on self-build
      ansible.builtin.git:
        repo: "{{ syncthing_container_image_self_build_repo }}"
        version: "{{ syncthing_container_image_self_build_repo_version }}"
        dest: "{{ syncthing_container_image_self_build_src_files_path }}"
        force: "yes"
      register: syncthing_git_pull_results

    - name: Ensure Syncthing container image is built
      community.docker.docker_image:
        name: "{{ syncthing_container_image_self_build_name }}"
        source: build
        force_source: "{{ syncthing_git_pull_results.changed if ansible_version.major > 2 or ansible_version.minor >= 8 else omit }}"
        force: "{{ omit if ansible_version.major > 2 or ansible_version.minor >= 8 else syncthing_git_pull_results.changed }}"
        build:
          dockerfile: Dockerfile
          path: "{{ syncthing_container_image_self_build_src_files_path }}"
          pull: true
          args:

- name: Ensure Syncthing container network is created via community.docker.docker_network
  when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
  community.docker.docker_network:
    enable_ipv6: "{{ devture_systemd_docker_base_ipv6_enabled }}"
    name: "{{ syncthing_container_network }}"
    driver: bridge
    driver_options: "{{ devture_systemd_docker_base_container_networks_driver_options }}"

- name: Ensure Syncthing container network is created via ansible.builtin.command
  when: devture_systemd_docker_base_container_network_creation_method == 'command'
  ansible.builtin.command:
    cmd: >-
      {{ devture_systemd_docker_base_host_command_docker }} network create
      {% if devture_systemd_docker_base_ipv6_enabled %}--ipv6{% endif %}
      {{ devture_systemd_docker_base_container_networks_driver_options_string }}
      {{ syncthing_container_network }}
  register: network_creation_result
  changed_when: network_creation_result.rc == 0
  failed_when: network_creation_result.rc != 0 and 'already exists' not in network_creation_result.stderr

- name: Ensure Syncthing systemd service is present
  ansible.builtin.template:
    src: "{{ role_path }}/templates/systemd/syncthing.service.j2"
    dest: "{{ devture_systemd_docker_base_systemd_path }}/{{ syncthing_identifier }}.service"
    mode: "0644"
