---

# We do this locally, so that we won't need passlib to be installed on the server.
- name: Generate basic auth file locally
  community.general.htpasswd:
    path: "{{ syncthing_basicauth_file_tmp }}"
    name: "{{ credential_entry.username }}"
    password: "{{ credential_entry.password }}"
  become: false
  delegate_to: 127.0.0.1

- name: Load basic auth file contents
  ansible.builtin.slurp:
    src: "{{ syncthing_basicauth_file_tmp }}"
  become: false
  delegate_to: 127.0.0.1
  register: syncthing_basicauth_file_contents_raw

- name: Load basic auth file contents
  ansible.builtin.set_fact:
    syncthing_basicauth_file_contents: "{{ syncthing_basicauth_file_contents_raw ['content'] | b64decode | trim }}"

- name: Inject credentials into syncthing_basicauth_htpasswds
  set_fact:
    syncthing_basicauth_htpasswds: "{{ syncthing_basicauth_htpasswds + [syncthing_basicauth_file_contents] }}"

- name: Ensure local temporary basic auth file is removed
  ansible.builtin.file:
    path: "{{ syncthing_basicauth_file_tmp }}"
    state: absent
  become: false
  delegate_to: 127.0.0.1
