{#
SPDX-FileCopyrightText: 2024 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if syncthing_container_labels_traefik_enabled %}
traefik.enable=true

{% if syncthing_container_labels_traefik_docker_network %}
traefik.docker.network={{ syncthing_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if syncthing_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ syncthing_identifier }}-slashless-redirect.redirectregex.regex=https?://([^/]+)({{ syncthing_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ syncthing_identifier }}-slashless-redirect.redirectregex.replacement=${2}/
{% set middlewares = middlewares + [syncthing_identifier + '-slashless-redirect'] %}
{% endif %}

{% if syncthing_basicauth_enabled %}
traefik.http.middlewares.{{ syncthing_identifier }}-auth.basicauth.users={{ syncthing_basicauth_htpasswds | join(',') }}
{% set middlewares = middlewares + [syncthing_identifier + '-auth'] %}
{% endif %}

{% if syncthing_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ syncthing_identifier }}-strip-prefix.stripprefix.prefixes={{ syncthing_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [syncthing_identifier + '-strip-prefix'] %}
{% endif %}

{% if syncthing_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in syncthing_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ syncthing_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [syncthing_identifier + '-add-request-headers'] %}
{% endif %}

{% if syncthing_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in syncthing_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ syncthing_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [syncthing_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ syncthing_identifier }}.rule={{ syncthing_container_labels_traefik_rule }}
{% if syncthing_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ syncthing_identifier }}.priority={{ syncthing_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ syncthing_identifier }}.service={{ syncthing_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ syncthing_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ syncthing_identifier }}.entrypoints={{ syncthing_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ syncthing_identifier }}.tls={{ syncthing_container_labels_traefik_tls | to_json }}
{% if syncthing_container_labels_traefik_tls %}
traefik.http.routers.{{ syncthing_identifier }}.tls.certResolver={{ syncthing_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ syncthing_identifier }}.loadbalancer.server.port=8384
{% endif %}

{{ syncthing_container_labels_additional_labels }}
